body {
    animation: ease totalAnimation 1.5s;
}

.my-img {
    transition: ease .4s;
    cursor: pointer;
}

.my-img:hover {
    opacity: .6;
}

.foot-bg {
    background: #2a2a2a;
}

.my-nav-parent {
    list-style: none;
    margin-bottom: 0;
    padding: 2rem;
}

.my-nav a {
    color: white;
    text-decoration: none;
    transition: .3s;
}

.my-nav a:hover {
    color: green;
}

.my-footer h3, .my-footer p {
    color: white;
    margin-top: 5%;
}

.right-s-border {
    border-left: 3px solid white;
}

.title-adj {
    background: #3a3a3a;
    color: white;
    cursor: pointer;
    transition: ease .4s;
    margin-bottom: 2rem;
}

.title-adj:hover {
    background: white;
    color: #3a3a3a;
}

@media(max-width: 600px) {
    .right-s-border {
        border-left: none;
        border-top: 2px solid white;
    }  
}

@keyframes totalAnimation {
    0% {
        transform: translateX(300px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}